.navbar{
  background-color: rgb(90, 38, 223);
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
}

.footer{
  background-color: rgb(8, 96, 55);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_content{
  height: 80vh;
}